@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }


.mediaViewInfo {
    --web-view-name: 뮤지컬 정보;
    --web-view-id: _;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: _;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#_ {
    position: absolute;
    width: 1920px;
    height: 2139px;
    background: linear-gradient(180.1deg, rgba(0,24,65,1) 0%, rgba(21,60,100,1) 21.16%, rgba(68,90,157,1) 41.58%, rgba(75,151,186,1) 100%, rgba(57,0,113,1) 100%);
    overflow: hidden;
    --web-view-name: 뮤지컬 정보;
    --web-view-id: _;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#_24 {
    mix-blend-mode: multiply;
    position: absolute;
    width: 2088.001px;
    height: 1788.001px;
    left: -138px;
    top: 139px;
    overflow: visible;
}
#_25 {
    opacity: 0.49;
    mix-blend-mode: lighten;
    position: absolute;
    width: 1920px;
    height: 2072.001px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#_27 {
    opacity: 0.25;
    filter: blur(7px);
    fill: rgba(255,255,255,1);
}
._27 {
    overflow: visible;
    position: absolute;
    width: 1983.678px;
    height: 2168.001px;
    left: -21.678px;
    top: 13px;
    transform: matrix(1,0,0,1,0,0);
}
#_26 {
    opacity: 0.25;
    filter: blur(7px);
    fill: rgba(255,255,255,1);
}
._26 {
    overflow: visible;
    position: absolute;
    width: 2037.046px;
    height: 2181.001px;
    left: -21.678px;
    top: -0.001px;
    transform: matrix(1,0,0,1,0,0);
}
#pngegg_4 {
    mix-blend-mode: soft-light;
    filter: blur(4px);
    position: absolute;
    width: 1920px;
    height: 1427px;
    left: 0px;
    top: 712px;
    overflow: visible;
}
#_3 {
    fill: rgba(52,62,120,1);
}
._3 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;
}
#_4 {
    fill: rgba(165,171,203,1);
}
._4 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 60px;
}
#user{
    left: 1573px;
    top: 81px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: left;
    font-family: MaruBuri-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,1);
}
#_ba {
    left: 1695px;
    top: 83px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: left;
    font-family: MaruBuri-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,1);
}
#_1 {
    fill: rgba(255,255,255,1);
}
._1 {
    position: absolute;
    overflow: visible;
    width: 34px;
    height: 34px;
    left: 1520px;
    top: 74px;
}
#__ {
    filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.71));
    left: 140px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 102px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#__TOP_10 {
    filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.71));
    left: 810px;
    top: 222px;
    position: absolute;
    overflow: visible;
    width: 297px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#_5 {
    fill: rgba(237,226,202,1);
}
._5 {
    overflow: visible;
    position: absolute;
    width: 1364px;
    height: 1588px;
    left: 278px;
    top: 341px;
    transform: matrix(1,0,0,1,0,0);
}
#_8 {
    opacity: 0.98;
    fill: transparent;
    stroke: rgba(1,24,65,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
._8 {
    overflow: visible;
    position: absolute;
    width: 1321.001px;
    height: 1552px;
    left: 299px;
    top: 358px;
    transform: matrix(1,0,0,1,0,0);
}
#_3_be {
    position: absolute;
    width: 1061px;
    height: 279.024px;
    left: 429.5px;
    top: 395.488px;
    overflow: visible;
}

#_180 {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 567.345px;
    top: 16.323px;
}

#_181 {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 10.311px;
    top: 16.888px;
}
#__bh {
    left: 235px;
    top: 10.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#__bi {
    left: 792px;
    top: 12.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#_____ {
    left: 236px;
    top: 53.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#______bk {
    left: 797px;
    top: 55.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#_6 {
    fill: rgba(237,94,57,1);
}
._6 {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#_7 {
    fill: rgba(237,94,57,1);
}
._7 {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 553.983px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID1 {
    left: 19.277px;
    top: 13.095px;
    position: absolute;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID2 {
    left: 573.247px;
    top: 12.737px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#_3_bp {
    position: absolute;
    width: 1061px;
    height: 279.024px;
    left: 429.5px;
    top: 695.487px;
    overflow: visible;
}

#_180_bq {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 567.345px;
    top: 16.323px;
}

#_181_br {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 10.311px;
    top: 16.888px;
}
#__bs {
    left: 235px;
    top: 10.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#__bt {
    left: 792px;
    top: 12.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#______bu {
    left: 236px;
    top: 53.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#______bv {
    left: 797px;
    top: 55.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#_6_bw {
    fill: rgba(237,94,57,1);
}
._6_bw {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#_7_bx {
    fill: rgba(237,159,57,1);
}
._7_bx {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 553.983px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID3 {
    left: 19.277px;
    top: 13.095px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID2_bz {
    left: 573.247px;
    top: 12.737px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#_3_b {
    position: absolute;
    width: 1061px;
    height: 279.024px;
    left: 429.5px;
    top: 995.487px;
    overflow: visible;
}

#_180_b {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 567.345px;
    top: 16.323px;
}

#_181_b {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 10.311px;
    top: 16.323px;
}
#__b {
    left: 235px;
    top: 10.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#__ca {
    left: 792px;
    top: 12.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#______b {
    left: 236px;
    top: 53.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#______ca {
    left: 797px;
    top: 55.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#_6_b {
    fill: rgba(237,159,57,1);
}
._6_b {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#_7_b {
    fill: rgba(237,159,57,1);
}
._7_b {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 553.983px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID1_b {
    left: 19.277px;
    top: 13.095px;
    position: absolute;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#ID2_ca {
    left: 573.247px;
    top: 12.737px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#_3_cb {
    position: absolute;
    width: 1061px;
    height: 279.024px;
    left: 429.5px;
    top: 1295.487px;
    overflow: visible;
}

#_180_cc {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 567.345px;
    top: 16.323px;
}

#_181_cd {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 10.311px;
    top: 16.323px;
}
#__ce {
    left: 235px;
    top: 10.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#__cf {
    left: 792px;
    top: 12.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#______cg {
    left: 236px;
    top: 53.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#______ch {
    left: 797px;
    top: 55.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#_6_ci {
    fill: rgba(237,159,57,1);
}
._6_ci {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#_7_cj {
    fill: rgba(237,159,57,1);
}
._7_cj {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 553.983px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID1_ck {
    left: 19.277px;
    top: 13.095px;
    position: absolute;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#ID2_cl {
    left: 573.247px;
    top: 12.737px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#_3_cm {
    position: absolute;
    width: 1061px;
    height: 279.024px;
    left: 429.5px;
    top: 1595.487px;
    overflow: visible;
}
#_180_cn {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 567.345px;
    top: 16.323px;
}

#_181_co {
    position: absolute;
    overflow: visible;
    width: 193.665px;
    height: 262.701px;
    left: 10.311px;
    top: 16.323px;
}
#__cp {
    left: 235px;
    top: 10.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#__cq {
    left: 792px;
    top: 12.4px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#______cr {
    left: 236px;
    top: 53.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#______cs {
    left: 797px;
    top: 55.4px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(18,18,18,1);
}
#_6_ct {
    fill: rgba(237,159,57,1);
}
._6_ct {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#_7_cu {
    fill: rgba(237,159,57,1);
}
._7_cu {
    overflow: visible;
    position: absolute;
    width: 48.093px;
    height: 72.649px;
    left: 553.983px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ID1_cv {
    left: 19.277px;
    top: 13.095px;
    position: absolute;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#ID2_cw {
    left: 573.247px;
    top: 12.737px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(18,18,18,1);
}
#_168 {
    fill: rgba(32,67,99,1);
}
._168 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 95px;
    left: 0px;
    top: 2044px;
}
#_cy {
    left: 334px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#ABOUT_ {
    left: 140px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#_c {
    left: 496px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
}
#_da {
    left: 662px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: left;
    font-family: HSBombaram3_Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
}

/* 공통 nav 바 */
@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

	@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}	


#mainlogo {
    filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.71));
    left: 140px;
    top: 3px;
    position: relative;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: left;
    font-family: 'HSBombaram3_Regular';
    text-decoration:none;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
    z-index: 1;
}


#logo {
    background-color: rgba(52,62,120,1);
    z-index: 1;
	width:1920px
}
.mainnamebackground {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;
    z-index: 1;
}


#navbackground {
    fill: rgba(165,171,203,1);
    z-index: 1;
	}
.navbackground {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 60px;
    z-index: 1;
}

#nav1 {
    left: 140px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: 'HSBombaram3_Regular';
    text-decoration:none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
    z-index: 1;
}

#nav2 {
    left: 334px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: 'HSBombaram3_Regular';
    text-decoration:none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
    z-index: 1;
}

#nav3 {
    left: 496px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: 'HSBombaram3_Regular';
    text-decoration:none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
    z-index: 1;
}
#nav4 {
    left: 662px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: 'HSBombaram3_Regular';
    text-decoration:none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(18,18,18,1);
    z-index: 1;
}

#nickname {
    left: 1573px;
    top: 79px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: 'MaruBuri-Regular';
    text-decoration:none ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,1);
    z-index: 1;
}
#logout {
    left: 1695px;
    top: 81px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: 'MaruBuri-Regular';
    text-decoration:none ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,1);
}

#myimage {
    fill: rgba(255,255,255,1);
    z-index: 1;
}
.myimage {
    position: absolute;
    overflow: visible;
    width: 34px;
    height: 34px;
    left: 1520px;
    top: 74px;
    z-index: 1;
}

/* 공통 nav 바 끝 */



	.bg-light {
    background-color: rgba(165,171,203,1);
    z-index: 1;
}

#navlogin{
	position: relative;
	left: 1573px;
    top: 1px;
	font-family: 'MaruBuri-Regular';
	color: rgba(0,0,0,1);
}

#nav5{
	position: relative;
	left: 1500px;
    top: 1px;
	font-family: 'MaruBuri-Regular';
	color: rgba(0,0,0,1);
}

#img444{
	position: relative;
	left: 1500px;
    top: 1px;
	
}

.navbar{
	width:1920px
}

#s1 {
    position: absolute;
    left: 831px;
    top: 648px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s2 {
    position: absolute;
    left: 1415px;
    top: 648px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s3 {
    position: absolute;
    left: 1415px;
    top: 948px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s4 {
    position: absolute;
    left: 1415px;
    top: 1248px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s5 {
    position: absolute;
    left: 1417px;
    top: 1548px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s6 {
    position: absolute;
    left: 1417px;
    top: 1841px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s7 {
    position: absolute;
    left: 831px;
    top: 948px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s8 {
    position: absolute;
    left: 831px;
    top: 1248px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s9 {
    position: absolute;
    left: 831px;
    top: 1548px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}
#s10 {
    position: absolute;
    left: 831px;
    top: 1835px;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: MARU Buri Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(18,18,18,1);
    z-index: 10;
}