{% extends 'base.html' %}

{% block content %}
<h2>게시판</h2><br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">카테고리</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
        <th scope="col">조회</th>
        <th scope="col">스크랩</th>
      </tr>
    </thead>
    <tbody>
        {% for board in boards%}
      <tr onclick="location.href='/board/{{board.id}}'">
        <th scope="row">{{board.id}}</th>
        <td>카테고리</td>
        <td>{{board.title}}</td>
        <td>{{board.writer}}</td>
        <td>{{board.pub_date}}</td>
        <td>조회</th>
        <td>스크랩</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {%if boards.has_previous%} 
  <a href="?page=1">처음</a>
  <a href="?page={{boards.previous_page_number}}">이전</a>
  {% endif %}
  <span>{{boards.number}}</span>
  <span>of</span>
  <span>{{boards.paginator.num_pages}}</span>
  {%if boards.has_next%} 
  <a href="?page={{boards.next_page_number}}">다음</a>
  <a href="?page={{boards.paginator.num_pages}}">마지막</a>
  {% endif %}

    <div>
        <!-- <a href="{%url 'new'%}" >새글쓰기</a> -->
        <!-- <button type="button" onclick="location.href='{%url 'new'%}'">새글쓰기</button> -->
        <button type="button" class="btn btn-secondary" onclick="location.href='{%url 'new'%}'">새글쓰기</button>
    </div>
{% endblock %}