{% extends 'base.html' %}

{% block content %}
    <br><h2>수정하기📝</h2><hr>
    <form action="{%url 'update' board.id%}" method="post">
        {%csrf_token%}
        {{form.media}}
        {{form.as_p}}
        <p>제목: <input type="text" name="title" value="{{board.title}}"></p>
        <p>작성자: <input type="text" name="writer" value="{{board.writer}}"></p>
        <textarea name="body" id="" cols="30" rows="10">{{board.body}}</textarea>
        <br>
        <button type="submit" class="btn btn-secondary" onclick="location.href='{%url 'new'%}'">등록</button>
        {% comment %} <button type="submit">등록</button> {% endcomment %}
    </form>
{% endblock %}